<div class="text-center bg-white rounded-1 p-3">
    <img src="{{ user.avatar_url }}" class="circle mb-3" style="max-width: 150px;">

    {% if user.email %}
    <div class="{{ metadata_styles }}">
        {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
        <a href="mailto:{{ user.email }}" {% if site.style == 'dark' %}class="text-white"{% endif %}>
        {{ user.email }}
        </a>
    </div>
    {% endif %}

    <!--{% if user.location %}-->
    <!--<div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-white{% endif %}">-->
        <!--{% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Location %}-->
        <!--{{ user.location }}-->
    <!--</div>-->
    <!--{% endif %}-->

    {% if site.social_media.twitter %}
        <p>Twitter:
        <a href="{{ site.data.social_media.twitter.profile_url_prefix }}{{ site.social_media.twitter }}">
            @{{ site.social_media.twitter }}
        </a>
        </p>
    {% endif %}

    <nav>
        <ul class="list-style-none">
            {% for item in site.data.sidebar.pages %}
            <ul><a href="{{ item.url }}" title="{{ item.title }}">{{ item.title }}</a></ul>
            {% endfor %}
        </div>
    </nav>

    <!--{% if site.social_media %}-->
    <!--<div class="d-flex flex-wrap flex-items-start {% if site.layout == 'stacked' %}flex-justify-center mt-1 mt-md-3{% endif %}">-->
        <!--{% for account in site.social_media %}-->
        <!--<div class="{% unless forloop.last == true %}mr-3{% endunless %} mb-3">-->
            <!--{% assign service_shortname = account[0] %}-->
            <!--{% assign service = site.data.social_media[service_shortname] %}-->
            <!--<a href="{{ service.profile_url_prefix }}{{ account[1] }}" class="tooltipped tooltipped-se"-->
               <!--aria-label="{{ service.name }}: {{ account[1] }}">-->
                <!--{{ service.icon_svg }}<span class="d-none">{{ service.name }}</span>-->
                <!--@{{ account[1] }}-->
            <!--</a>-->
        <!--</div>-->
        <!--{% endfor %}-->
    <!--</div>-->
    <!--{% endif %}-->
</div>